/* rgb(234, 232, 228) */
body {
    margin: 0;
}
.terms-banner {
    background-color: rgb(234, 232, 228);
    color: #28400C;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

#here {
    color: #28400C;
    text-decoration: none;
    border-bottom: 1px solid rgb(172, 171, 167);
    padding-bottom: 1.5px;
}

.menu-box {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 242, 239);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1232px;
    height: 70px;

}

#title > a > img{
    /* border: 1px solid red; */
    display: flex;
        max-width: 150px;
        justify-content: flex-start;
}


.menu-options {
    display: flex;
        justify-content: space-between;
        align-items: center;
        position:relative;
        left: 20%;

}

.menu-options * {
    padding: 0px 12.32px;
    white-space: nowrap;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.22px;
}

.start-button {

}
.menu > div > button {
    background-color: #00C585;
    border-radius: 24px;
    padding: 6px 16px 8px;
    font-size: 17px;
    color: white;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.22px;
    white-space: nowrap;
    border: 1px transparent;
}

#titles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 260px;
}

main {
    width: 1232px;
    padding: 0 24px;
    margin: 0 auto;

}

body {
    /* display: flex;
    justify-content: center; */
    background-color: rgb(243, 242, 239);
}

h1 {
    height: 78px;
    margin: 0;
    text-align: center;
    font-size: 60px;
    font-weight: 799;
    line-height: 78px;
    color: #28400C;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    letter-spacing: -1.44px;
}

h2 {
    height: 68px;
    margin: 0;
    width: 448px;
    display: flex;
    text-align: center;
    font-size: 22px;
    font-weight: 550;
    line-height: 34px;
    /* letter-spacing: 0.5px; */
    color: #28400C;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    transform:scaleY(105%)
}
